<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>Hello Jsp By Angcyo</display-name>

    <!--struts2 配置项-->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--过滤器的配置-->
    <!--<filter>-->
    <!--<filter-name>FirstFilter</filter-name>-->
    <!--<filter-class>com.angcyo.filter.FilterDemo</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>FirstFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--<filter>-->
    <!--<filter-name>EncodingFilter</filter-name>-->
    <!--<filter-class>com.angcyo.filter.EncodingFilter</filter-class>-->
    <!--<init-param>-->
    <!--<param-name>encode</param-name>-->
    <!--<param-value>utf-8</param-value>-->
    <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
    <!--<filter-name>EncodingFilter</filter-name>-->
    <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--配置错误页面-->
    <error-page>
        <error-code>404</error-code>
        <location>/error_page.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>rsen.do</welcome-file>
    </welcome-file-list>


    <!--Servlet 配置-->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.angcyo.servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello/*</url-pattern>
    </servlet-mapping>

    <!--Android Api Test-->
    <servlet>
        <servlet-name>ApiServlet</servlet-name>
        <servlet-class>com.angcyo.servlet.ApiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BaseServlet</servlet-name>
        <servlet-class>com.angcyo.servlet.BaseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BaseServlet</servlet-name>
        <url-pattern>/base</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.angcyo.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>

    <!--Servlet测试专用-->
    <servlet>
        <servlet-name>ApptoxServlet</servlet-name>
        <servlet-class>com.angcyo.servlet.ApptoxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApptoxServlet</servlet-name>
        <url-pattern>/apptox.app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Apptox2Servlet</servlet-name>
        <servlet-class>com.angcyo.servlet.Apptox2Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apptox2Servlet</servlet-name>
        <url-pattern>/apptox2.app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Apptox3Servlet</servlet-name>
        <servlet-class>com.angcyo.servlet.Apptox3Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apptox3Servlet</servlet-name>
        <url-pattern>/apptox3.app</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Apptox4Servlet</servlet-name>
        <servlet-class>com.angcyo.servlet.Apptox4Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Apptox4Servlet</servlet-name>
        <url-pattern>/apptox4.app</url-pattern>
    </servlet-mapping>
</web-app>
