<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloChina" class="com.angcyo.spring.beans.HelloChina"/>
    <bean id="helloWord" class="com.angcyo.spring.beans.HelloWord"/>
    <bean id="person" class="com.angcyo.spring.module.Person">
        <property name="iInterface" ref="helloWord"/>
    </bean>

</beans>
